.button-reset {
    border: 0;
    outline: 0;
    background-color: transparent;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 12px;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: uppercase;

    &--success {
        background-color: $green;
        color: $white;
    }

    &--wide {
        width: 100%;
    }
}
