.logo {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    &__img {
        width: 34px;
        height: 38px;
    }

    &__text {
        font-size: 20px;
        text-transform: uppercase;
        margin-left: 15px;

        &--accent {
            font-weight: bold;
        }
    }
}
