<div *ngFor="let baseProduct of baseProducts | filter:filterByType:filter">
    <p>{{baseProduct.name}}</p>
    <p>{{baseProduct.mass}}</p>
    <p>{{baseProduct.taste}}</p>
    <p>{{baseProduct.price}}</p>
    <button>Заказать</button>
</div>
<button (click)="onShownAllProducts()">Показать все</button>