<form (ngSubmit)="onSignUp(f)"
      #f="ngForm">
    Имя<input type="email"
           name="email"
           ngModel>
    Пароль<input type="password"
           type="password"
           name="password"
           ngModel>
    <button>Регистрация</button>
</form>

<form (ngSubmit)="onSignIn(form)"
      #form="ngForm">
    Имя<input type="email"
           name="email"
           ngModel>
    Пароль<input type="password"
           type="password"
           name="password"
           ngModel>
    <button>Войти</button>
</form>