<ari-menu-toggle class="menu__toggle"
                 (toggled)="onMenuToggled($event)"></ari-menu-toggle>

<ul class="menu__list"
    *ngIf="isMenuVisible"
    [@dynamicHeight]>
    <ng-container *ngFor="let link of menuLinks">
        <li class="menu__item"
            *ngIf="isLinkVisible(link)">
            <a class="menu__link"
               (click)="onNavigated(link)">{{ link.name }}</a>
        </li>
    </ng-container>
</ul>