@import "src/styles/variables";

.menu {
    display: inline-flex;
    flex-shrink: 0;

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $text-accent-color;
        height: 65px;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid $outline-color;
        box-sizing: border-box;
        margin: -1px 0;
        font-weight: bold;
        cursor: pointer;
    }

    &__toggle {
        position: absolute;
        top: 20px;
        right: $offset-xs;
    }
}
