/* Colors */
$black: #000000;
$mercury: #e6e6e6;
$white: #ffffff;
$green: #68b738;

$text-accent-color: $black;
$outline-color: $mercury;
$modal-backdrop-color: $black;
$modal-content-color: $white;

/* Breakpoints */
$bp-xs: 320px;

/* Layout */
$offset-xs: 20px;
