@import "./variables";
@import "./core/index.scss";

@font-face {
    font-family: "Oswald";
    src: url("../assets/fonts/oswald-regular.woff2") format("woff2"), url("../assets/fonts/oswald-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Oswald";
    src: url("../assets/fonts/oswald-medium.woff2") format("woff2"), url("../assets/fonts/oswald-medium.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Oswald", sans-serif;
}
