<div class="main">
    <ari-header class="main__header"></ari-header>
    <div class="main__content">
        <router-outlet></router-outlet>
        <router-outlet name="modal"></router-outlet>
    </div>
    <ari-footer class="main__footer"></ari-footer>
</div>