@import "src/styles/variables";

.feature {
    display: flex;
    align-items: center;

    &__description {
        margin: 0;
    }

    &__icon {
        width: 60px;
        height: 60px;
        background-color: $green;
        margin-right: 20px;
        flex-shrink: 0;
    }
}
