<div class="modal__content">
    <button class="modal__button button-reset"
            type="button"
            (click)="onModalClosed()">X</button>
    <ng-template ariModalContent></ng-template>
</div>