@import "src/styles/variables";

.modal {
    display: block;
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($black, 0.5);
    z-index: 10000;

    &__content {
        display: inline-block;
        background-color: $white;
        position: relative;
        min-width: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__button {
        position: absolute;
        right: -25px;
        top: -20px;
    }
}
