<p>Приглашаем к сотрудничесмтву дилеров</p>
<div>
    <p>ул. Большая Конюшенная, д. 19/8</p>
    <p>Санкт-Петербург</p>
</div>
<ari-map class="footer__map"></ari-map>
<p>Cat energy</p>
<ul class="socials">
    <li>vk</li>
    <li>instagramm</li>
    <li>facebook</li>
</ul>