<h1 class="promo__title">Функциональное питание для котов</h1>
<p class="promo__subtitle">Занялся собой? Займись котом!</p>
<a class="promo__button button button--success button--wide"
   [routerLink]="[isUserAuthenticated ? '/program' : '/catalog']">{{ isUserAuthenticated ? 'Подобрать программу' : 'Каталог'}}</a>