@import "src/styles/variables";

.promo {
    background-image: url("/assets/images/index-can-m@2x.png"), url("/assets/images/index-bg-m@2x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 70% auto, contain;
    background-position: center bottom 50px, top center;
    min-height: 500px;
    color: $white;
    padding: $offset-xs;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 36px;
        text-align: center;
    }

    &__subtitle {
        text-align: center;
        text-transform: uppercase;
    }

    &__button {
        margin-top: auto;
    }
}
