@import "src/styles/variables";

.menu-toggle {
    display: block;

    &__bar {
        display: block;
        width: 24px;
        height: 3px;
        background-color: $black;
        margin-bottom: 5px;
        transition: all .5s;

        &:last-child {
            margin-bottom: 0;
        }

        &--active {
            &:first-child {
                transform: translateY(8px) rotate(45deg);
                transform-origin: center;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: translateY(-8px) rotate(-45deg);
                transform-origin: center;
            }
        }
    }
}
