<button class="button-reset"
        type="button"
        (click)="onToggled()">
    <ng-container *ngFor="let i of numbers">
        <ng-container *ngTemplateOutlet="bar"></ng-container>
    </ng-container>
</button>

<ng-template #bar>
    <span class="menu-toggle__bar"
          [ngClass]="{'menu-toggle__bar--active': isToggled}"></span>
</ng-template>